<div id="main_body">
  <h4><%= t(@title) %></h4>
  <%= simple_form_for @model,  :method => :put, :url =>  eval(@results_url)  do |f| %>
      <%= render inline: ERB.new(@erb_code).result(binding) %>
  <% end %>
  <%= link_to t('Back'), SUBURI + '/authentify/view_handler?index=0', :class => BUTTONS_CLS['action'] %>

</div>
